extends layout
block content
    script(src="../../javascripts/index.js")
    script(src="../../javascripts/resAdmin.js")
    .container-fluid
        a.btn.btn-info(href="/admin/saveItems/") Назад
        .row(style="display: flex; flex-wrap: wrap")
            .col-md-12.col-lg-12.col-sm-12.col-xs-12
                .wrap
                    //.row
                    //    .col-lg-12.col-md-12
                    //         //div(style="display: none;")
                    //         //   .box-modal#saveModal
                    //         //       .box-modal_close.arcticmodal-close закрыть
                    //         //       table.table.table-hover
                    //         //           thead
                    //         //               th Дата
                    //         //               th Название
                    //         //           tbody
                    //         //               each item in data
                    //         //                   if !item.length
                    //         //                       tr.clickSave(style="cursor:pointer")
                    //         //                           td=moment(item.TOPDATE).format('DD.MM.YYYY')
                    //         //                           td=item.TOP_NAME
                    //         //                           td.itemNameId.hidden=item.COUNTERTOPS_ID
                    //        .idNameTable.h3
                    .row
                        .col-md-12.col-lg-12
                            div(class='physics-param')
                                h2.h2.noprint Физические параметры
                                h2.h2.printer(style="display: none") Расчет стоимости изделия
                                .input-group.w200
                                    label(for='topName') Название
                                    input.form-control#topName
                                .input-group.w200
                                    label(for='material') Выбор материала
                                    select.form-control#material
                                .input-group.w110
                                    label(for='width') Ширина, мм.
                                    input.form-control#width(type='number', value='1200')
                                .input-group.w110
                                    label(for='depth') Глубина, мм.
                                    input.form-control#depth(type='number', value='600')
                                .input-group.w150
                                    label(for='profile-option') Вариант профиля
                                    select.form-control#profile-option
                                        option(value='1') с подклейкой
                                        option(value='0', selected='') без подклейки
                                .input-group.w150
                                    label(for='profile-option') Вариант установки
                                    select.form-control#install-option
                                        option(value='Консоль' selected) Консоль
                                        option(value='Мебельные базы') Мебельные базы
                                #gluing
                                    .input-group.w200
                                        label(for='gluing-width') Ширина нижней подклейки
                                        input.form-control#gluing-width(type='number', value='70')
                                .input-group.w200
                                    label#sel(for='profile-heigth') Высота профиля, мм.
                                    select.form-control.profile-heigth#profile-heigth
                                        option(value='20', selected) 20
                                        option(value='30') 30
                                        option(value='40') 40
                                        option(value='60') 60
                                .input-group.hidden.hidwidth
                                    label(for='splice1') Расположение вертикального стыка, мм.
                                    input.form-control#splice1(type='number')
                                .input-group.hidden.hidwidth
                                    label(for='splice2') Расположение горизонтального стыка, мм.
                                    input.form-control#splice2(type='number')
                                .input-group
                                    label.pad Стороны профиля
                                    label.checkbox-inline
                                        input#A(type='checkbox', name='sideProfile', value='A')
                                        |  A
                                    label.checkbox-inline
                                        input#B(type='checkbox', name='sideProfile', value='B')
                                        |  B
                                    label.checkbox-inline
                                        input#C(type='checkbox', name='sideProfile', value='C')
                                        |  C
                                    label.checkbox-inline
                                        input#D(type='checkbox', name='sideProfile', value='D')
                                        |  D
                    .row
                        .col-md-3
                            .form-group
                                label(for='comments') Комментарий
                                textarea.form-control#comments(rows="5")
                            .parameters-of-sanitary
                                h2.h2 Параметры сантехники и отверстия
                                .input-group
                                    label(for='moi-form') Форма мойки
                                    input.hidden#idFormMoi(value="0")
                                    select.form-control#moi-form
                                        option(value='')
                                        option(value='1') Круглая
                                        option(value='2') Прямоугольная
                                        option(value='3') Эллипс
                                #hid
                                    .input-group
                                        label(for='coordinatesX') Координаты центра мойки по оси X, мм.
                                        input.form-control#coordinatesX(type='number')
                                    .input-group
                                        label(for='coordinatesY') Координаты центра мойки по оси Y, мм.
                                        input.form-control#coordinatesY(type='number')
                                    .side-group
                                        .input-group
                                            label(for='side-a') Сторона A, мм.
                                            input.form-control#side-a(type='number')
                                        .input-group
                                            label(for='side-b') Сторона B, мм.
                                            input.form-control#side-b(type='number')
                                    .input-group.diameter-group
                                        label(for='diameter') Диаметр, мм.
                                        input.form-control#diameter(type='number')
                                    .lots-group
                                        .input-group
                                            label(for='lots') Длина большой полуоси, мм.
                                            input.form-control#lots(type='number')
                                        .input-group
                                            label(for='sal') Длина малой полуоси, мм.
                                            input.form-control#sal(type='number')
                                    .input-group
                                        label.pad Нижнего монтажа
                                        label.checkbox-inline
                                            input(type='checkbox', name='bottomMounting', value="1")
                                            | &nbsp;
                                .dopotver
                                    //h2 Доп. отверстия
                                    table.table.table-striped.table-bordered.table-condensed
                                        thead
                                            th Номер отверстия
                                            th X
                                            th Y
                                            th D
                                        tbody#dopChild
                                    button.pad.btn.btn-default#dop(onclick='addDop()') Добавить
                                    button.pad.btn.btn-default#drop(onclick='drop()') Удалить
                                .price.noprint
                                    h2.h2 0
                                button.pad.btn.btn-info.hidden#draw Нарисовать
                                button.pad.btn.btn-warning#calc  Расчитать
                                //if user.TOP_USER_LEVEL !== 2
                                //    button.pad.btn.btn-success#save  Сохранить
                                button.pad.btn.btn-primary#print  Печать
                        .col-md-9
                            .info
                            .error
                            .graph
                                canvas#canvas
                            .pricedoubl.printer(style="display:none;")
                                h2.h2 0
