body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@media print {
  .noprint{display: none}
  .printer{display: block !important;}
  @page {
    margin: 1cm;
  }
  button.btn, a.btn {display: none;}
  canvas {width: 1000px; height: 500px}
}
.info{
  margin: 20px;
}
.error{
  margin: 20px;
}
.btnAdmin{
  margin-top: 20px;
  margin-right: 20px;
}
.logout{
  float: right;
  margin-top: 20px;
}
.input-group{
  float: left;
  padding-right: 5px;
  width: 315px;
}
.top{
  float: left;
}
a {
  color: #00B7FF;
}
.registration{
  margin-right: 20px;
}
button{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-right: 20px !important;
}
.form form {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}
button.redactor {
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactor{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.redactorJob {
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactorJob{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}

button.redactorBom{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactorBom{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.redactorUom{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactorUom{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
.redactorUser{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.redactorUser{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactorLoc{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.redactorLoc{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.sendMail{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.sendMail{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.generator:hover{
  cursor: pointer;
}
.graph{
  width: 100%;
  height: auto;
}
#loadCsv{
  width: 1300px;
}
#tablem{
  margin-top: 20px;
}
.w110{
  width: 110px;
}
.w150{
  width: 150px;
}
.w200{
  width: 200px;
}
.file_upload{
  position: relative;
  overflow: hidden;
  font-size: 1em;        /* example */
  line-height: 2em       /* the same as height */
}
.file_upload > button{
  float: right;
  width: 8em;            /* example */
  height: 100%
}
.file_upload > div{
  margin-top: 25px      /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
  .file_upload > div{
    display: none
  }
  .file_upload > button{
    width: 100%
  }
}