body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@media print {
  .noprint{display: none}
  .printer{display: block !important;}
  @page {
    margin: 1cm;
  }
  button.btn, a.btn {display: none;}
  canvas {width: 1000px; height: 500px}
}
.info{
  margin: 20px;
}
.error{
  margin: 20px;
}
.btnAdmin{
  margin-top: 20px;
  margin-right: 20px;
}
.logout{
  float: right;
  margin-top: 20px;
}
.input-group{
  float: left;
  padding-right: 5px;
  width: 315px;
}
.top{
  float: left;
}
a {
  color: #00B7FF;
}
.registration{
  margin-right: 20px;
}
button{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin-right: 20px !important;
}
.form form {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}
button.redactor {
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactor{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.redactorJob {
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactorJob{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}

button.redactorBom{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactorBom{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.redactorUom{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactorUom{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
.redactorUser{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.redactorUser{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.redactorLoc{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.redactorLoc{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.sendMail{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
}
button.sendMail{
  -webkit-appearance: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.generator:hover{
  cursor: pointer;
}
.graph{
  width: 100%;
  height: auto;
}
#loadCsv{
  width: 1300px;
}
#tablem{
  margin-top: 20px;
}
.w110{
  width: 110px;
}
.w150{
  width: 150px;
}
.w200{
  width: 200px;
}
.file_upload{
  position: relative;
  overflow: hidden;
}
.file_upload > button{
  float: right;
  width: 8em;            /* example */
  height: 100%
}
.file_upload > div{
  padding-left: 1em      /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
  .file_upload > div{
    display: none
  }
  .file_upload > button{
    width: 100%
  }
}
.file_upload input[type=file]{
  position: absolute;
  left: 0;
  top: 0;
  width: 145px;
  height: 100%;
  opacity: 0;
  cursor: pointer
}
.file_upload{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  transition: box-shadow 0.1s linear
}
.file_upload.focus{
  box-shadow: 0 0 5px rgba(0,30,255,0.4)
}
/*.file_upload > button{*/
  /*background: #7300df;*/
  /*transition: background 0.2s;*/
  /*border: 1px solid rgba(0,0,0,0.1);*/
  /*border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*/
  /*border-radius: 2px;*/
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
  /*color: #fff;*/
  /*text-shadow: #6200bd 0 -1px 0;*/
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
  /*text-overflow: ellipsis*/
/*}*/
/*.file_upload:hover > button{*/
  /*background: #6200bd;*/
  /*text-shadow: #5d00b3 0 -1px 0*/
/*}*/
/*.file_upload:active > button{*/
  /*background: #5d00b3;*/
  /*box-shadow: 0 0 3px rgba(0,0,0,0.3) inset*/
/*}*/
.file_upload > div {
  position: absolute;
  top: 42%;
  cursor: pointer;
}